# Applied Text Mining in Python

## Module 1: Working with Text in Python

### Handling Text in Python

#### Characters and Words

In [2]:
# Characters
text1= "Ethics are built right into the ideals and objectives of the United Nations."; print(text1)
len(text1)

Ethics are built right into the ideals and objectives of the United Nations.

76

In [3]:
# Words
text2 = text1.split(" "); print(text2)
len(text2)

['Ethics', 'are', 'built', 'right', 'into', 'the', 'ideals', 'and', 'objectives', 'of', 'the', 'United', 'Nations.']

13

#### Finding Specific Words

In [4]:
# Long words: Words taht are more than 3 letters long
[w for w in text2 if len(w) > 3]

['Ethics',
 'built',
 'right',
 'into',
 'ideals',
 'objectives',
 'United',
 'Nations.']

In [5]:
# Capitalized words
[w for w in text2 if w.istitle()]

['Ethics', 'United', 'Nations.']

In [6]:
# Words that end with s
[w for w in text2 if w.endswith('s')]

['Ethics', 'ideals', 'objectives']

In [7]:
# Finding unique words
text3 = "To be or not to be"
text4 = text3.split(" "); print(text4)
print(len(text4))
print(len(set(text4)))
print([w.lower() for w in text4])
print(len(set(text4)))

['To', 'be', 'or', 'not', 'to', 'be']
6
5
['to', 'be', 'or', 'not', 'to', 'be']
5

#### Word Comparison Functions
* s.startswith(t)
* s.endswith(t)
* t in s
* s.isupper(); s.islower(); s.istitle()   
e.g UPPER, lower, Title
* s.isalpha(); s.isdigit(); s.isalnum()  
e.g abcd, 1234, ab12

#### String Operations
* s.lower(); s.upper(); s.titlecase()
* s.split(t)
* s.splitlines() - split sentence by '\n'
* s.join(t)
* s.strip(); s.rstrip()
* s.find(t); s.rfind(t)
* s.replace(u, v)

In [8]:
# Split
text5 = "ouagadougou"
text6 = text5.split("ou"); print(text6)

['', 'agad', 'g', '']

In [9]:
# Join
'ou'.join(text6)

'ouagadougou'

In [10]:
# Get all characters
text5.split("")

ValueError: empty separator

In [ ]:
# Get all the characters
print(list(text5))
print([c for c in text5])

#### Cleaning Text

In [ ]:
# Whitespaces
text8 = "        A quick brown fox jumped over the lazy dog.    "
text8.split(" ")

In [ ]:
# Strip
text9 = text8.strip()
text9.split(" ")

#### Changing Text

In [ ]:
# Find returns the number of the target string
text9
text9.find('o')

In [ ]:
# Replace
text9.replace("o", "O")

#### Handling Larger Texts

In [ ]:
# Working directory
import os
wd = r"C:\Users\Jiseong Yang\Documents\Jiseong Yang\Scholar\SKKU\Semesters\Thesis\Lectures\Applied Text Mining in Python"
os.chdir(wd)
os.getcwd()

In [ ]:
# Reading files line by line
f = open('UNDHR.txt', 'r')
f.readline()

In [ ]:
# Reading the full file
f.seek(0) # Move to 0th byte.
text12 = f.read()
print(len(text12))

In [ ]:
# Splitlines
text13 = text12.splitlines()
len(text13)
print(text13)
text13[0]

#### File Operations
* f = open(filename, mode)
* f.readline() - read one line
* f.read() - read the whole file
* f.read(n) - read n character(s)
* for line in f
* f.seek(n)
* f.write(message)
* f.close()
* f.closed - check if closed

In [ ]:
# Issues with Reading Text Files
f = open("UNDHR.txt", 'r')
text14 = f.readline()
text14

In [ ]:
# Removing Newline Character
text14.rstrip

# Works also for DOS newlines (^M) that shows up as '\r' or '\r\n'

### Regular Expressions

#### Workking With Text

In [ ]:
# Text separation
text1 = "Ethics are built right into the ideals and objectives of the United Nations "
len(text1) # The length of text1
text2 = text1.split(' ') # Return a list of the words in text2, separating by ' '.
len(text2)
print(text2)

In [ ]:
# Find words that are greater than 3 letters
[w for w in text2 if len(w) > 3]

In [11]:
# Find words that are capitalized
[w for w in text2 if w.istitle()]

['Ethics', 'United', 'Nations.']

In [12]:
# Find words that end with 's'
[w for w in text2 if w.endswith('s')]

['Ethics', 'ideals', 'objectives']

In [13]:
# Find qnique words
text3 = "To be or not to be"
text4 = text3.split(" ")
print(text4)

['To', 'be', 'or', 'not', 'to', 'be']

In [14]:
# Lower down the case
set([w.lower() for w in text4])

{'be', 'not', 'or', 'to'}

##### Processing Free-text

In [15]:
# Text Speration
text5 = '"Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text6 = text5.split(' ')
print(text6)

['"Ethics', 'are', 'built', 'right', 'into', 'the', 'ideals', 'and', 'objectives', 'of', 'the', 'United', 'Nations"', '#UNSG', '@', 'NY', 'Society', 'for', 'Ethical', 'Culture', 'bit.ly/2guVelr']

In [16]:
# Finding hashtags
[w for w in text6 if w.startswith("#")]

['#UNSG']

In [17]:
# Finding callouts
[w for w in text6 if w.startswith("@")]

['@']

##### Necessitiy of Regular Expression

In [18]:
# Text separation
text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text8 = text7.split(' ')
print(text8)

['@UN', '@UN_Women', '"Ethics', 'are', 'built', 'right', 'into', 'the', 'ideals', 'and', 'objectives', 'of', 'the', 'United', 'Nations"', '#UNSG', '@', 'NY', 'Society', 'for', 'Ethical', 'Culture', 'bit.ly/2guVelr']

In [19]:
# Finding callouts
[w for w in text8 if w.startswith('@')]

['@UN', '@UN_Women', '@']

In [20]:
# Finding callout with regular expressions
import re
[w for w in text8 if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_Women']

* `[A-Za-z0-9_]+` will return all words that: 
    * start with `'@'` and are followed by at least one: 
    * capital letter (`'A-Z'`)
    * lowercase letter (`'a-z'`) 
    * number (`'0-9'`)
    * or underscore (`'_'`)

##### Meta-characters

* Character Symbols
    * `.`: wildcard, matches a single character
    * `^`: start of a string
    * `$`: end of a string
    * `[]`: matches one of the set of characters within []
    * `[a-z]`: matches one of the range of character**s** a, b, ..., z
    * `[^abc]`: matches **a** character that is not a, b, or, c
    * `a|b`: mathes either a or b, where a and b are strings
    * `()`: Scoping for operators
    * `\`: Escape character for special characters (\t, \n, \b)
    * `\b`: matches word boundary
    * `\d`: any digit, equivalant to [0-9]
    * `\D`: any non-digit, equivalant to [^0-9]
    * `\s`: any whitespance, equivalant to [ \t\n\r\f\v]
    * `\S`: any non-whitespance, equivalant to [^ \t\n\r\f\v]
    * `\w`: alphaneumeric character, equivalanet to [a-zA-Z0-9_]
    * `\W`: non-alphaneumeric character, equivalanet to [^a-zA-Z0-9_]

* Repetitions
    * `*`: matches zero or more occurences
    * `+`: matches one or more occurences
    * `?`: matches zero or one occuerences
    * `{n}`: exactly n repetitions, nâ‰¥0
    * `{n,}`: at least n repetitions
    * `{,n}`: at most n repetitions
    * `{m,n}`: at least m and at most n repetitions

In [21]:
# Find only vowels
text12 = "ouagadougou"
re.findall(r'[aeiou]', text12)

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [22]:
# FInd only consnanats
re.findall(r'[^aeiou]', text12)

['g', 'd', 'g']

#### Case Study: Regular Expression for Dates
* Date variations for 23rd October 2002  
    * 23-13-1002
    * 23/10/2002
    * 23/10/02
    * 10/23/2002
    * 23 Oct 2002
    * 23 October 2002
    * Oct 23, 2002
    * October 23, 2002

In [23]:
# Date Structures
dateStr = '23-13-1002\n23/10/2002\n23/10/02\n10/23/2002\n23 Oct 2002\n23 October 2002\nOct 23, 2002\nOctober 23, 2002\n'
print(dateStr)

23-13-1002
23/10/2002
23/10/02
10/23/2002
23 Oct 2002
23 October 2002
Oct 23, 2002
October 23, 2002

#### Group 1 (23-13-1002, 23/10/2002, 23/10/02, 10/23/2002)

In [24]:
# XX/-XX/-XXXX
re.findall(r'\d{2}[/-]\d{2}[/-]\d{4}', dateStr)

# XX/-XX/-XX(XX)
re.findall(r'\d{2}[/-]\d{2}[/-]\d{2,4}', dateStr)

# X(X)/-X(X)/-XX(XX)
re.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}', dateStr)

['23-13-1002', '23/10/2002', '23/10/02', '10/23/2002']

#### Group 2 (23 Oct 2002, 23 October 2002, Oct 23, 2002, October 23, 2002)

In [25]:
# (Mon)
re.findall(r'\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}', dateStr)

['Oct']

In [26]:
# XX (Mon) XXXX
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}', dateStr)

['23 Oct 2002']

In [27]:
# XX ((Mon)th) XXXX 
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{4}', dateStr)

['23 Oct 2002', '23 October 2002']

In [28]:
# XX ((Mon)th) XX, (XXXX)
re.findall(r'(?:\d{2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{2}, )?\d{4}', dateStr)

['23 Oct 2002', '23 October 2002', 'Oct 23, 2002', 'October 23, 2002']

In [29]:
# X(X) ((Mon)th) X(X), (XXXX)
re.findall(r'(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{1,2}, )?\d{4}', dateStr)

['23 Oct 2002', '23 October 2002', 'Oct 23, 2002', 'October 23, 2002']

### Working with Text Data in Pandas

In [30]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [31]:
# Find the number of characters for each string in df['text']
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [32]:
# Find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [33]:
# Find which entries contain the word 'appointment'
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [34]:
# Find how many times a digit occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [35]:
# Find all occurances of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [36]:
# Group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [37]:
# Replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [38]:
# Replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [39]:
# Create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [40]:
# Extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [41]:
# Extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

### Internationalization and Issues with Non-ASCII Characters
#### English and ASCII
* ASCII: American Standard Code for Information Interchange
    * 7-bit character encoding standard: 128 valid codes
    
#### Other Character Encodings
* IBM EBCDIC
* LATIN-I
* JIS: Japanese Industrial Standards
* CCCII: Chinese Character Code for Information Interchange
* EUC: Extended Unix Code
* Unicode and UTF-8 (**Most common**)

#### Unicode
* Industry standard for encoding and representing text
* Over 128,000 characters from 130+ scripts and symbol sets

##### UTF-8
* Unicode Transformational Format - 8-bits
* Variable length encoding: One to four bytes
* Backward compatible with ASCII
    * One byte codes same as ASCII
* Dominant character encoding for the Web
* Default in Python 3
    * Python3: "Resume"
    * Python2: u"Resume"

#### Take Home Concepts
* Diversity in Text
* ASCII and other character encodings
* Handling text in UTF-8

## Module 2: Basic Natural Language Processing
### What is Natural Langauge Processing?
* Any computation, manipulation of natural langauge
* Natural langauge evolve
    * new words get added
    * old words lose popularity
    * meanings of words change
    * language rules themselves may change

### NLP Tasks: A Broad Spectrum
* Counting words, counting frequency of words
* Finding sentence boundaries
* Part of speech tagging
* Parsing the sentence structure
* Identifying semantic rules
* Identifying entities in a sentence
* Finding which pronoun refers to which entity, and many more...

### Basic NLP Tasks with NLTK
* NKTK: Natural Langauge Toolkit
* Open source library in Python
* Has support for most NLP tasks
* Also provides access to numerous text corpora
* **More advanced tool than regular expressions**

#### Set-up

In [42]:
# Import module
import nltk
nltk.download()
from nltk.book import *

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml
*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

In [43]:
text1

In [44]:
sents()

sent1: Call me Ishmael .
sent2: The family of Dashwood had long been settled in Sussex .
sent3: In the beginning God created the heaven and the earth .
sent4: Fellow - Citizens of the Senate and of the House of Representatives :
sent5: I have a problem with people PMing me to lol JOIN
sent6: SCENE 1 : [ wind ] [ clop clop clop ] KING ARTHUR : Whoa there !
sent7: Pierre Vinken , 61 years old , will join the board as a nonexecutive director Nov. 29 .
sent8: 25 SEXY MALE , seeks attrac older single lady , for discreet encounters .
sent9: THE suburb of Saffron Park lay on the sunset side of London , as red and ragged as a cloud of sunset .

In [45]:
sent1

['Call', 'me', 'Ishmael', '.']

#### Counting Vocabulary of Words

In [46]:
text7

In [47]:
sent7

['Pierre',
 'Vinken',
 ',',
 '61',
 'years',
 'old',
 ',',
 'will',
 'join',
 'the',
 'board',
 'as',
 'a',
 'nonexecutive',
 'director',
 'Nov.',
 '29',
 '.']

In [48]:
# Words
len(sent7)

18

In [49]:
# Letters
len(text7)

100676

In [50]:
# Unique words
len(set(text7))

12408

In [51]:
# First ten words
list(set(text7))[:10]

['high-technology',
 'Navy',
 'contain',
 '434.4',
 'Avrett',
 'T-shirts',
 'Economy',
 'Society',
 'buoyed',
 'indicate']

#### Frequency of Words

In [52]:
# Frequency distribution
dist = FreqDist(text7)
len(dist)

12408

In [53]:
vocab1 = dist.keys()
#vocab1[:10] 
# In Python 3 dict.keys() returns an iterable view instead of a list
list(vocab1)[:10]

['Pierre', 'Vinken', ',', '61', 'years', 'old', 'will', 'join', 'the', 'board']

In [54]:
dist['four']

20

In [55]:
# Restriction on the length of the word is important to avoid meaningless words.
freqwords = [w for w in vocab1 if len(w) > 5 and dist[w] > 100]
freqwords

['billion',
 'company',
 'president',
 'because',
 'market',
 'million',
 'shares',
 'trading',
 'program']

#### Normalization
* Differenct forms of the same "word"

##### Stemming

In [56]:
# Normalization
input1 = "List listed lists listing listings"
words1 = input1.lower().split(' ')
words1

['list', 'listed', 'lists', 'listing', 'listings']

In [57]:
# Extract stem
porter = nltk.PorterStemmer()
[porter.stem(t) for t in words1]

['list', 'list', 'list', 'list', 'list']

In [58]:
udhr = nltk.corpus.udhr.words('English-Latin1')
udhr[:20]

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'rights',
 'of']

In [59]:
[porter.stem(t) for t in udhr[:20]] # Still Lemmatization

['univers',
 'declar',
 'of',
 'human',
 'right',
 'preambl',
 'wherea',
 'recognit',
 'of',
 'the',
 'inher',
 'digniti',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalien',
 'right',
 'of']

##### Lemmatization
* Lemmatization: Stemming, but resulting stems are all valid words.

In [60]:
WNlemma = nltk.WordNetLemmatizer()
[WNlemma.lemmatize(t) for t in udhr[:20]]

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'right',
 'of']

#### Tokenization
* Spliting a sentence into words/tokens

In [61]:
text11 = "Children shouldn't drink a sugary drink before bed."
text11.split(' ')

['Children', "shouldn't", 'drink', 'a', 'sugary', 'drink', 'before', 'bed.']

* NLTK has an in-bulit tokenizer

In [62]:
# Tokenization separates negation and full stop
nltk.word_tokenize(text11)

['Children',
 'should',
 "n't",
 'drink',
 'a',
 'sugary',
 'drink',
 'before',
 'bed',
 '.']

* More fundamental question: what is a sentence and how do you know sentence boundaries?

In [63]:
# Puntuation marks separate sentences, but not all of them (e.g. $2.99.)
text12 = "This is the first sentence. A gallon of milk in the U.S. costs $2.99. Is this the third sentence? Yes, it is!"

* NLTK has an in-built sentence splitter.

In [64]:
sentences = nltk.sent_tokenize(text12)
len(sentences)

4

In [65]:
sentences

['This is the first sentence.',
 'A gallon of milk in the U.S. costs $2.99.',
 'Is this the third sentence?',
 'Yes, it is!']

### Advanced NLP Tasks with NLTK

#### POS tagging

In [66]:
import nltk

# Descriptions of the tag names. 
nltk.help.upenn_tagset('MD')

MD: modal auxiliary
    can cannot could couldn't dare may might must need ought shall should
    shouldn't will would

In [81]:
# Help
nltk.help.upenn_tagset()

$: dollar
    $ -$ --$ A$ C$ HK$ M$ NZ$ S$ U.S.$ US$
'': closing quotation mark
    ' ''
(: opening parenthesis
    ( [ {
): closing parenthesis
    ) ] }
,: comma
    ,
--: dash
    --
.: sentence terminator
    . ! ?
:: colon or ellipsis
    : ; ...
CC: conjunction, coordinating
    & 'n and both but either et for less minus neither nor or plus so
    therefore times v. versus vs. whether yet
CD: numeral, cardinal
    mid-1890 nine-thirty forty-two one-tenth ten million 0.5 one forty-
    seven 1987 twenty '79 zero two 78-degrees eighty-four IX '60s .025
    fifteen 271,124 dozen quintillion DM2,000 ...
DT: determiner
    all an another any both del each either every half la many much nary
    neither no some such that the them these this those
EX: existential there
    there
FW: foreign word
    gemeinschaft hund ich jeux habeas Haementeria Herr K'ang-si vous
    lutihaw alai je jour objets salutaris fille quibusdam pas trop Monte
    terram fiche oui corporis ...
IN: preposition or conjunction, subordinating
    astride among uppon whether out inside pro despite on by throughout
    below within for towards near behind atop around if like until below
    next into if beside ...
JJ: adjective or numeral, ordinal
    third ill-mannered pre-war regrettable oiled calamitous first separable
    ectoplasmic battery-powered participatory fourth still-to-be-named
    multilingual multi-disciplinary ...
JJR: adjective, comparative
    bleaker braver breezier briefer brighter brisker broader bumper busier
    calmer cheaper choosier cleaner clearer closer colder commoner costlier
    cozier creamier crunchier cuter ...
JJS: adjective, superlative
    calmest cheapest choicest classiest cleanest clearest closest commonest
    corniest costliest crassest creepiest crudest cutest darkest deadliest
    dearest deepest densest dinkiest ...
LS: list item marker
    A A. B B. C C. D E F First G H I J K One SP-44001 SP-44002 SP-44005
    SP-44007 Second Third Three Two * a b c d first five four one six three
    two
MD: modal auxiliary
    can cannot could couldn't dare may might must need ought shall should
    shouldn't will would
NN: noun, common, singular or mass
    common-carrier cabbage knuckle-duster Casino afghan shed thermostat
    investment slide humour falloff slick wind hyena override subhumanity
    machinist ...
NNP: noun, proper, singular
    Motown Venneboerger Czestochwa Ranzer Conchita Trumplane Christos
    Oceanside Escobar Kreisler Sawyer Cougar Yvette Ervin ODI Darryl CTCA
    Shannon A.K.C. Meltex Liverpool ...
NNPS: noun, proper, plural
    Americans Americas Amharas Amityvilles Amusements Anarcho-Syndicalists
    Andalusians Andes Andruses Angels Animals Anthony Antilles Antiques
    Apache Apaches Apocrypha ...
NNS: noun, common, plural
    undergraduates scotches bric-a-brac products bodyguards facets coasts
    divestitures storehouses designs clubs fragrances averages
    subjectivists apprehensions muses factory-jobs ...
PDT: pre-determiner
    all both half many quite such sure this
POS: genitive marker
    ' 's
PRP: pronoun, personal
    hers herself him himself hisself it itself me myself one oneself ours
    ourselves ownself self she thee theirs them themselves they thou thy us
PRP$: pronoun, possessive
    her his mine my our ours their thy your
RB: adverb
    occasionally unabatingly maddeningly adventurously professedly
    stirringly prominently technologically magisterially predominately
    swiftly fiscally pitilessly ...
RBR: adverb, comparative
    further gloomier grander graver greater grimmer harder harsher
    healthier heavier higher however larger later leaner lengthier less-
    perfectly lesser lonelier longer louder lower more ...
RBS: adverb, superlative
    best biggest bluntest earliest farthest first furthest hardest
    heartiest highest largest least less most nearest second tightest worst
RP: particle
    aboard about across along apart around aside at away back before behind
    by crop down ever fast for forth from go high i.e. in into just later
    low more off on open out over per pie raising start teeth that through
    under unto up up-pp upon whole with you
SYM: symbol
    % & ' '' ''. ) ). * + ,. < = > @ A[fj] U.S U.S.S.R * ** ***
TO: "to" as preposition or infinitive marker
    to
UH: interjection
    Goodbye Goody Gosh Wow Jeepers Jee-sus Hubba Hey Kee-reist Oops amen
    huh howdy uh dammit whammo shucks heck anyways whodunnit honey golly
    man baby diddle hush sonuvabitch ...
VB: verb, base form
    ask assemble assess assign assume atone attention avoid bake balkanize
    bank begin behold believe bend benefit bevel beware bless boil bomb
    boost brace break bring broil brush build ...
VBD: verb, past tense
    dipped pleaded swiped regummed soaked tidied convened halted registered
    cushioned exacted snubbed strode aimed adopted belied figgered
    speculated wore appreciated contemplated ...
VBG: verb, present participle or gerund
    telegraphing stirring focusing angering judging stalling lactating
    hankerin' alleging veering capping approaching traveling besieging
    encrypting interrupting erasing wincing ...
VBN: verb, past participle
    multihulled dilapidated aerosolized chaired languished panelized used
    experimented flourished imitated reunifed factored condensed sheared
    unsettled primed dubbed desired ...
VBP: verb, present tense, not 3rd person singular
    predominate wrap resort sue twist spill cure lengthen brush terminate
    appear tend stray glisten obtain comprise detest tease attract
    emphasize mold postpone sever return wag ...
VBZ: verb, present tense, 3rd person singular
    bases reconstructs marks mixes displeases seals carps weaves snatches
    slumps stretches authorizes smolders pictures emerges stockpiles
    seduces fizzes uses bolsters slaps speaks pleads ...
WDT: WH-determiner
    that what whatever which whichever
WP: WH-pronoun
    that what whatever whatsoever which who whom whosoever
WP$: WH-pronoun, possessive
    whose
WRB: Wh-adverb
    how however whence whenever where whereby whereever wherein whereof why
``: opening quotation mark
    ` ``

In [67]:
text13 = nltk.word_tokenize(text11)
nltk.pos_tag(text13)

[('Children', 'NNP'),
 ('should', 'MD'),
 ("n't", 'RB'),
 ('drink', 'VB'),
 ('a', 'DT'),
 ('sugary', 'JJ'),
 ('drink', 'NN'),
 ('before', 'IN'),
 ('bed', 'NN'),
 ('.', '.')]

* POS tagging allows you to group multiple words into a single category according to their part of speech
* Useful for feature engineering

#### Ambiguity in POS Tagging
* Ambiguity is common in English
* e.g. "Visiting aunts can be a nuisance" has two meaings:
    * "Aunts" who are visiting can be nuisance.
    * The act of "visiting" aunts can be nuisance.

In [68]:
text14 = nltk.word_tokenize("Visiting aunts can be a nuisance")
nltk.pos_tag(text14)

[('Visiting', 'VBG'),
 ('aunts', 'NNS'),
 ('can', 'MD'),
 ('be', 'VB'),
 ('a', 'DT'),
 ('nuisance', 'NN')]

* POS tagging points only one sort of tag though "visiting" can be either adjectives or gerend.
* The probability of finding "visiting" as an adjective is lower so the gerend winds up, though the alternative is still valid.

In [69]:
# Parsing sentence structure
text15 = nltk.word_tokenize("Alice loves Bob")
grammar = nltk.CFG.fromstring("""
S -> NP VP
VP -> V NP
NP -> 'Alice' | 'Bob'
V -> 'loves'
""")

parser = nltk.ChartParser(grammar)
trees = parser.parse_all(text15)
for tree in trees:
    print(tree)

(S (NP Alice) (VP (V loves) (NP Bob)))

#### Ambiguity in Parsing
* Ambiguity may exist even if sentences are grammatically correct.

In [79]:
# Preposition attachment problem
text16 = nltk.word_tokenize("I saw the man with a telescope")
grammar1 = nltk.data.load('mygrammar.cfg')
grammar1

In [80]:
parser = nltk.ChartParser(grammar1)
trees = parser.parse_all(text16)
for tree in trees:
    print(tree)

(S
  (NP I)
  (VP
    (VP (V saw) (NP (Det the) (N man)))
    (PP (P with) (NP (Det a) (N telescope)))))
(S
  (NP I)
  (VP
    (V saw)
    (NP (Det the) (N man) (PP (P with) (NP (Det a) (N telescope))))))

#### NLTK and Parse Tree Collection
* Grammar check requires much manuel work

In [82]:
from nltk.corpus import treebank
text17 = treebank.parsed_sents('wsj_0001.mrg')[0]
print(text17)

(S
  (NP-SBJ
    (NP (NNP Pierre) (NNP Vinken))
    (, ,)
    (ADJP (NP (CD 61) (NNS years)) (JJ old))
    (, ,))
  (VP
    (MD will)
    (VP
      (VB join)
      (NP (DT the) (NN board))
      (PP-CLR (IN as) (NP (DT a) (JJ nonexecutive) (NN director)))
      (NP-TMP (NNP Nov.) (CD 29))))
  (. .))

#### POS Tagging and Parsing Ambiguity

In [83]:
# Uncommon usages of words
text18 = nltk.word_tokenize("The old man the boat")
nltk.pos_tag(text18)

[('The', 'DT'), ('old', 'JJ'), ('man', 'NN'), ('the', 'DT'), ('boat', 'NN')]

In [86]:
# Well-formed sentences may still be meaningless
text19 = nltk.word_tokenize("Colorless green ideas sleep furiously")
nltk.pos_tag(text19)

[('Colorless', 'NNP'),
 ('green', 'JJ'),
 ('ideas', 'NNS'),
 ('sleep', 'VBP'),
 ('furiously', 'RB')]

#### Take Home Concepts
* POS tagging provides insights into the word classes/types in a sentence.
* Parsing the grammatical structures helps derive meaning.
* Both tasks are difficult, liguistic ambiguity increases the difficulty even more.
* Better models could be learned with supervised learning
* NLTK provides access to tools and data for training

## Module 3: Text Classification
### Classification
* Assigning of the correct class label to the given input, given a set of classes.
* Examples
    * Topic Identification
    * Spam Detection
    * Sentiment Analysis
    * Spelling Correction
* Classification is a supervised learning from past instances.

#### Supervised Classification
* Learn a <font color="red">classification model</font> on properties ("features") and their importance("weights") from labeled instances. 
    * X: Set of attributes or features {x1, x2, ..., xn}
    * Y: A "class" label from the label set {y1, y2, ..., yk}
* Apply the model on new instances to predict the label

#### Classification Paradigms
* When there are only two possible classes; |Y| = 2:
<center><font color="red">Binary Classification</font></center>
* When there are more than two possible classes; |Y| > 2:
<center><font color="red">Multi-classification</font></center>
* When data instances can have two or more labels:
<center><font color="red">Multi-label Classification</font></center>

#### Questions to Ask in Supervised Learning?
* Traning Phase
    * What are the features? How do you represent them?
    * What is the classification model/algorithm?
    * What are the model parameters?
    
* Inference Phase
    * What is the expected performance? What is a good measure?

### Identifying Features from Text
#### Why is Textual Data Unique?
* Textual data presents a unique set of challenges
* All the information you need is in the text
* But features can be pulled out from text at different granularities.

#### Types of Textual Features
* Words
    * By far the most common class of features
    * Handling commonly-occurring words: Stop words
    * Normalization: Make lower case vs. leave as-is
    * Stemming / Lemmatization
    * Characteristics of words: Capitalization
    * Parts of speech of words in a sentence
    * Grammatical structure, sentence parsing
    * Grouping words of similar meaning, semantics
        * {buy, purchase}
        * {Mr., Ms., Dr., Pror.}; Numbers / Digits; Dates 
    * Depending on classification tasks, features my come from inside words and word sequence
        * bigrams, trigrams, n-grams: "White House"
        * Character sub-sequences in words: "ing", "ion", ...

### Naive Bayes Classifiers
#### Probabilistic Model
* Update the likelihood of the class given new information
    * e.g. Python (zoology) / Python download (computer science)
* <font color='red'>Prior Probability</font>: Pr(y=<font color='green'>Entertainment</font>), Pr(y=<font color='green'>Computer Science</font>), Pr(y=<font color='green'>Zoology</font>)
* <font color='red'>Posterior Probability</font>: Pr(y=<font color='green'>Entertainment</font>|x=<font color='blue'>"Python"</font>)

#### Bayes's Rule
<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/87c061fe1c7430a5201eef3fa50f9d00eac78810">

* <font color="red">Naive assumption</font>: Given the class label, features are assumed to be independent of each other
--- 
* y* = argmax(y) Pr(y|X) = argmax(y) Pr(y) * Pr(X|y)  
* y* = argmax(y) Pr(y|X) = argmax(y) Pr(y) * âˆ Pr(xi|y)

#### Parameters
* Prior probabilities: Pr(y) for all y in Y
* Likelihood: Pr(xi|y) for all features xi and labels y in Y
* If there are 3 classes (|Y|=3) and 100 features in X, how many parameters does Naive Bayes models have?
    * 3 + 2 * 3 * 100
    
#### Learning Parameters
* Prior probabilities: Pr(y) for all y in Y
    * From training data
    * Count the number of instances in each class
    * If there are N instances in all, and n out of those are labeled as class y: Pr(y) = n / N
    
* Likelihood: Pr(xi|y) for all features xi and labels y in Y
    * Count how many times fetures xi appears in instances labeled as class y
    * If there are p instances of class y, and xi appears in k of those, Pr(xi|y) = k / p
    
#### Smoothing
* What happens if Pr(xi|y) = 0?
    * Feature xi never occurs in documents labeled y
    * But then, the posterior probability Pr(y|xi) will be 0
    * Instead, smooth the parameters
    * <font color='red'>Laplace smoothing</font> or <font color='red'>Additive smoothing</font>: Add a dummy count

### Support Vector Machines
* Please refer to [Support Vector Machine](https://github.com/Jiseong-Michael-Yang/Machine-Learning/blob/master/Support%20Vector%20Machines.md)
> You may have to install additional plug-in such as from this [link](https://chrome.google.com/webstore/detail/mathjax-plugin-for-github/ioemnmodlmafdkllaclgeombjnmnbima?hl=en) to properly render the page, though some elements may still be unavailable.

### Learning Text Classifiers in Python
* Toolkits for Supervised Text Classification
    * Scikit-learn
    * NLTK
        * Interfaces with sklearn and other ML toolkits (like Weka)

#### Scikit-learn
* Open-source Machine Learning library
* Started as Google Summer of Code by Dave Cournapeau, 2007
* It has a more programmatic interface

##### NaiveBayesClassifier

In [3]:
# Import modules
from sklearn import naive_bayes

# Choose the classifier
clfrNB = naive_bayes.MultinomialNB()

# Train the model
clfrNB.fit(train_data, train_labels)

# Test the model
predicted_labels = clfrNB.predict(test_data)

# Check the result
metrics.f1_score(test_labels, predicted_labels, average='micro')

NameError: name 'train_data' is not defined

##### SVM classifier

In [ ]:
# Import modules
from sklearn import svm

# Choose the classifier: linear kernel is typically used for text classification
clfrSVM = svm.SVC(kernel='linear', c=0.1)

# Train the model
clfrSVM.fit(train_data, train_labels)

# Test the model
predicted_labels = clfrSVM.predict(test_data)

# Check the result
metrics.f1_score(test_labels, predicted_labels, average='micro')

##### Model Selection in Scikit-learn
* train_test_split

In [ ]:
# Import modules
from sklearn import model_selection

X_train, X_test, y_train, y_test = 
model_selection.train_test_split(train_data, train_labels,
                                 test_size = 0.333, random_state = 0)

* Cross-validation
    * K iterations of training in K-fold cross-validation
    * Get the average out
    * Very common to use 10-fold cross-validation when the data set is large (training: test = 9: 1)

In [ ]:
# Import modules
from sklearn import model_selection

X_train, X_test, y_train, y_test = 
model_selection.train_test_split(train_data, train_labels,
                                 test_size = 0.333, random_state = 0)

predicted_labels = model_selection.cross_val_predict(clfrSVM, train_data, train_lables, cv=5)

#### NLTK
* NLTK has some classification algorithms
    * NaiveBayesClassifier
    * DecsionTreeClassifier
    * ConditionalExponentialCLassifier
    * MaxtentClassifier
    * WekaClassifier
    * SklearnClassifier

##### NaiveBayesClassifier

In [ ]:
# Import modules
from nltk.classify import NaiveBayesClassifier

# Choose the classifier
classifier = NaiveBayesClassifier.train(train_set)

# Train the model
classifier.classify(unlabeled_instance)
classifier.classify_many(unlabeled_instances)

# Test the model
nltk.classify.util.accuracy(classifier, test_set)

# Shows all the labels the classifier has trained on
classifier.labels()

# Shows the most important/informative feature
classifier.show_most_informative_features()

##### SklearnClassifier
* Sklearn does not have a native SVM function

In [5]:
# Import modules
from nltk.classify import SklearnClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC

# Choose the model
clfrNB = SklearnClassifier(MultinomialNB()).train(train_set)
clfrSVM = SklearnClassifier(SVC(), kerner='linear').train(train_set)